{% extends base.html %}{% block title %}سامانه مدیریت محتوا{% end %} {% block content %}
<script>
    function showSpeechs(){
        var xhttp=new XMLHttpRequest();
        xhttp.onreadystatechange=function(){
            if(self.status==200 && self.readyState==4){
                document.getElementById("demo").innerHTML="sahar";
            }
        }
        xhttp.open("POST","/firstPage",true);
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.send("sahaar");
    }
</script>
<div class="container">
        <button class="btn btn-primary" type="button" onclick="showSpeechs()">سخن بزرگان</button>
    <br />
    <br />
    
    <form method="get" action="/">
        <button class="btn btn-primary">صفحه اصلی</button>
    </form>
    <p id="demo"></p>
</div>
{% end %}