{% extends base.html %} {% block title %}صفحه اصلی{% end %} {% block content %} {% if AddArticleMessage !=None %}

<br />

<div class="alert alert-success">مطلب با موفقیت افزوده شد</div>
{% end %}
<table class="table">
    <tbody>
        {% for article in articles %}
        <tr>
            <td><a href="/articles/{{ article[1] }}">{{ article[0] }}</a></td>
        </tr>
        {% end %}
    </tbody>
</table>
<button class="btn btn-primary" type="button" onclick="showSpeechs()">سخن بزرگان</button>
<br />
<br />
<p id="demo"></p>
<script>
    function showSpeechs() {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (self.status == 200 && self.readyState == 4) {
                document.getElementById("demo").innerHTML = speech;
            }
        }
        xhttp.open("GET", "/selectSpeech", true);
        //xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.send();
    }
</script>
{% end %}