{% extends base.html %}
{% block title %}نمایش مطلب{% end %}
{% block content %}
<table class="table table-bordered">
    <tbody>
        <tr>
            <td>{{ article[0] }}</td><br />
            <td>{{ article[1] }}</td><br />
            <td>{{ article[2] }}</td><br />
        </tr>
    </tbody>
</table>
<form method="get" action="/deleteArticle/{{ article[0] }}">
    <button class="btn btn-danger" type="submit">حذف مطلب</button>
</form>
<br />
<form method="get" action="/editArticle/{{ article[0] }}">
    <button class="btn btn-primary" type="submit">ویرایش مطلب</button>
</form>
{% end %}